---
import Layout from '../layouts/Layout.astro';
import { Navbar } from '../components/Navbar';
import { Hero } from '../components/Hero';
import { LogoStrip } from '../components/LogoStrip';
import { FeatureSection } from '../components/FeatureSection';
import { BentoGrid } from '../components/BentoGrid';
import { TrustSection } from '../components/TrustSection';
import { ContactSection } from '../components/ContactSection';
---

<Layout title="Cloudzeta Solutions | Engineered Cloud Delivery">
    <Navbar client:load />
	<main>
		<Hero client:load />
        <LogoStrip client:visible />
        <FeatureSection client:visible />
        <TrustSection client:visible />
        <div id="services">
            <BentoGrid client:visible />
        </div>
        <ContactSection client:visible />
	</main>
</Layout>
